.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  margin-left: 5px;
  margin-top: 5px;
}

.header___input, .header___start, .header___icons {
  display: flex;
  align-items: center;
}

.header___input {
  width: 40%;
  border: 1px solid gray;
}

.header___icon {
  margin-right: 10px;
}

.header___search {
  flex: 1;
}

.app___page {
  display: flex;
}