.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #A5C9CA;
  padding-left: 5px;
  padding-top: 5px;
}

.header___input, .header___start, .header___icons {
  display: flex;
  align-items: center;
}

.header___start {
  padding-left: 5px;
  padding: 1px;
}

.header___start h2 {
  color: red;
  text-shadow: -1px 1px 0 #fff;
}

.header___input {
  width: 40%;
}

.header___icon {
  margin-right: 10px;
}

.header___search {
  flex: 1;
}

.header___searchButton {
  background-color: lightgray;
}

.app___page {
  display: flex;
  background-color: #fff;
}