.searchpage___filter {
    display: flex;
    color: darkgray;
    margin-left: 20px;
    margin-top: 10px;
}

.searchpage___filter h2 {
    font-size: 14px;
}

.searchpage {
    background-color: #fff;
    margin-left: 40px;
}