.searchpage___filter {
    display: flex;
    color: #A5C9CA;
    margin-left: 20px;
}

.searchpage___filter h2 {
    font-size: 14px;
}

.searchpage {
    background-color: #417879;
    margin-left: 40px;
}