.sidebar {
    flex: 0.15;
    margin-top: 20px;
    align-items: center;
    margin-left: 5px;
}

.sidebar h2 {
    display: inline;
    padding-right: 10px;
}

.sidebar> hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}