.videoCard {
    width: 270px;
    margin-bottom: 40px;
}

.videoCard___avatar {
    border-radius: 46%;
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.videoCard___thumbnail {
    height: 140px;
    width: 250px;
}

.reccomentions___videos {
    display: flex;
    flex-wrap: wrap;
}

.videoCard___info {
    display: flex;
    margin-top: 5px;
    padding-right: 5px;
}

.videoCard___text {
    margin-left: 15px;
}

.videoCard___text> h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.videoCard___text> p {
    font-size: 14px;
    color: gray;
}