.video___frame {
    margin-top: 15px;
    margin-left: 10%;
}

.iframe {
    margin-bottom: 15px;
}

.comment___section {
    background-color: #f1f1f1;
    margin: 0px 15% 15px 15%;
}
.comment___related {
    margin-left: 20%;
    margin-bottom: 10px;
}
.comment___add {
    display: flex;
    align-items: center;
}

.comment___box {
    margin: 20px 25% 15px 25%;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #555;
    padding: 5px;
    height: 60px;
    overflow-y: scroll;
}

.comment___addComment {
    margin-top: 15px;
    margin-right: 3px;
    font-weight: 600;
}

.comment___new { 
    margin-top: 15px;
    width: 60%;
    margin-left: 3px;
    margin-right: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.comment___avi {
    color: orange;
    background-color: darkgray;
    border-radius: 50%;
    width: 24px;
    height: 20px;
    text-align: center;
    padding: 3px;
    margin-right: 20px;
}

.comment___button {
    background-color: red;
    margin-top: 12px;
    color: #fff;
}

.comment___default {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.videoRow, .vr_hr {
    margin-left: 20%;
    margin-right: 15%;
}

.vr_hr {
    color: red;
    margin-top: 4px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }